.market-container {
    height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner {
    background-color: rgb(255, 253, 253);
    width: 90%;
    text-align: center;
    align-items: center;
}

.outer {
    background-color: rgb(125, 172, 201);
    width: 50%;
    justify-content: center;
    display: flex;
}

.outer-header {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-header {
    width: 50%;
    background-color: rgb(125, 172, 201);
    width: 50%;
    justify-content: center;
    display: flex;
}