.market-container {
    height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner {
    background-color: rgb(209, 201, 201);
    width: 90%;
    text-align: center;
    align-items: center;
}

.outer {
    background-color: cadetblue;
    width: 50%;
    justify-content: center;
    display: flex;
}